RTR over SSH transport documentation should clearly reference the RFC text

Presently the RTR over SSH documentation does not match the [RFC8210](https://tools.ietf.org/html/rfc8210) text. It reads in section 9.1:

```
Cache servers supporting SSH transport MUST accept RSA 
authentication and SHOULD accept Elliptic Curve Digital 
Signature Algorithm (ECDSA) authentication.
```

The documentation shows (the kinda-ancient cipher) `Ciphers +3des-cbc` which should have a note explicitly chewing out the specific router manufacturer for not being RFC compliant. This line should not be added if installers aren't running that hardware. Plus, if the SSH listener is going to be RFC compliant, then it should explicitly list the RSA and ECDSA Ciphers options only and not the compiled list.

This was written by @wk, perhaps he has any thoughts on it.

There is no contradiction between the documentation and the RFC. The RFC refers to the user authentication (public key) phase of SSH connection setup, while the `KEX` and `Cipher` statements in the documentation apply to the symmetric session key setup and session encryption phase.

A rather concise and light primer on the connection process of SSH can be found [here](https://www.digitalocean.com/community/tutorials/understanding-the-ssh-encryption-and-connection-process).

CBC ciphers [are no longer](https://www.openssh.com/releasenotes.html) presented by default in OpenSSH `sshd` server as of OpenSSH 6.7/6.7p1 (2014-10-06), and by the OpenSSH `ssh` client as of OpenSSH 7.4/7.4p1 (2016-12-19).

Support for CTR ciphers (as replacement for CBC ciphers) [has been](https://community.cisco.com/t5/service-providers-blogs/ios-xr-sshv2-ctr-ciphers-support/ba-p/3104510) introduced into IOS-XR in 6.1.2 (CSCvb53125) (2016-11-14).

A combination of IOS-XR <= 6.1.1 device and `routinator` fronted by OpenSSH >= 6.7 sshd server would thus necessitate the documented cipher support configuration changes for an RTR over SSH session to be negotiated successfully. 

`3des-cbc` has been chosen as it is the only REQUIRED cipher per [RFC4253 (6.3)](https://tools.ietf.org/html/rfc4253).

Reading the section 9 of RFC8210 it does say:
```
Caches and routers MAY use Secure Shell version 2 (SSHv2)
transport [RFC4252] using the normal SSH port.  For an example,
see Section 9.1.
```
So that does bring `3des-cbc` into play (as you point out because it's in RFC4253). So that means the documentation at https://github.com/NLnetLabs/routinator/blob/master/doc/transports.md should just be (i.e. no plus sign and all the other ciphers removed):
```
Ciphers 3des-cbc
```
However, I know that doesn't look correct either.

(Meanwhile, further down the road the lightbulb goes off).

The text from the RFC refers to **authentication** and not the Cipher.
```
Cache servers supporting SSH transport MUST accept RSA 
authentication and SHOULD accept Elliptic Curve Digital 
Signature Algorithm (ECDSA) authentication.
```
So this is the `HostbasedAcceptedKeyTypes` which could remove some values (and yes this seems pedantic). For example, my laptop has these extras included:
```
$ ssh -Q key | egrep -v -i 'rsa|ecdsa'
ssh-ed25519
ssh-ed25519-cert-v01@openssh.com
ssh-dss
ssh-dss-cert-v01@openssh.com
$
```

Summary: Should the `sshd` daemon lock down all its options to match RFC8210? 


Perhaps we should seek to update RFC8210 and rather than letting it lock down options refer to a best practice document. In other RFCs that I am a co-author of we made references to RFC7525 for this.

It requires some more thought and reading (on my part at least) to judge if this fits here, and how. But, I wanted to share the thought here nonetheless to hear what you think of this direction?



@timbru - yup. Clearly there's work on both the RFC side and the s/w documentation side. As the code works today and routers can connect; I'll leave this issue as-is for now. I'm a lot more educated on something I thought I already understood.

Closing. 