Unexpected behavior with error PDUs

When sending this error PDU
```
RPKI-Router Protocol (Error Report)
    Version: 1
    PDU Type: Error Report (10)
    Error Code: Corrupt Data (0)
    Length: 80
    Length of Encapsulated PDU: 8
    Erroneous PDU: 0000000000000000
    Length of text: 56
    Erroneous Text: corrupt data received, length value in PDU is too small
```

Routinator responds with a set of 10 error PDUs in turn. 
These error pdus each contain 8 bytes of the original pdu in the `Erroneous PDU` field.
The diagnostic text field at the end seems to contain garbage.
Furthermore all except the first PDU have a partially invalid header.

I would expect a TCP FIN or maybe RST as response, because
> Error reports are only sent as responses to other PDUs, not to report
> errors in Error Report PDUs.

and 
>  An Error Report PDU MUST NOT be sent for an Error Report PDU.  If an
> erroneous Error Report PDU is received, the session SHOULD be
> dropped.

(RFC 8210 Section 5.11)

Ignoring that, I would expect one correct error PDU, not 10 half broken ones.


Here is a (ziped) pcap file of the whole exchange, produced with routinator 0.7.1
[routinator.pcapng.zip](https://github.com/NLnetLabs/routinator/files/4786735/routinator.pcapng.zip)



Thank you for the report!

I thought I had fixed RTR error handling but apparently not. I will have a look and try fixing this again.

I believe this should be fixed via https://github.com/NLnetLabs/rpki-rtr/pull/6