check consistency of binary signings time vs signing time

**deep sigh**: Signing time should go because it can not be trusted and is irrelevant for validation **except** when misaligned.

Anyway: In a test repository, routinator accepts ROAs that have the signing time and binary signing time at different points in time.
```
    signerInfos:
        version: 3
        d.subjectKeyIdentifier:
          0000 - e1 3c 32 05 31 70 fe 7b-3b 20 0a a8 df 24 fb   .<2.1p.{; ...$.
          000f - 40 80 9b 30 b2                                 @..0.
        digestAlgorithm:
          algorithm: sha256 (2.16.840.1.101.3.4.2.1)
          parameter: <ABSENT>
        signedAttrs:
            object:  (1.2.840.113549.1.9.16.2.46)
            set:
              INTEGER:1685607247

            object: contentType (1.2.840.113549.1.9.3)
            set:
              OBJECT:id-ct-routeOriginAuthz (1.2.840.113549.1.9.16.1.24)

            object: signingTime (1.2.840.113549.1.9.5)
            set:
              UTCTIME:Jun  1 07:14:07 2023 GMT

            object: messageDigest (1.2.840.113549.1.9.4)
            set:
              OCTET STRING:
                0000 - 14 96 8b 93 bd f9 aa eb-c5 7e 60 68 f6   .........~`h.
                000d - ac 8f 77 5c cb a8 90 c7-b0 15 f7 01 f5   ..w\.........
                001a - 3e 2c c3 38 17 b6                        >,.8..
```

Where signing time and binary are misaligned. My read is that these semantically invalid & multi-interpretable objects MUST be rejected (RFC6488 via RFC6019).

# Background

[RFC6488 Section 2.1.6.4](https://www.rfc-editor.org/rfc/rfc6488.html#section-2.1.6.4)

```
signedAttrs

   The signedAttrs is defined as:

         SignedAttributes ::= SET SIZE (1..MAX) OF Attribute

         Attribute ::= SEQUENCE {
           attrType OBJECT IDENTIFIER,
           attrValues SET OF AttributeValue }

         AttributeValue ::= ANY

   The signedAttrs element MUST be present and MUST include the content-
   type and message-digest attributes [[RFC5652](https://www.rfc-editor.org/rfc/rfc5652)].  The signer MAY also
   include the signing-time attribute [[RFC5652](https://www.rfc-editor.org/rfc/rfc5652)], the binary-signing-time
   attribute [[RFC6019](https://www.rfc-editor.org/rfc/rfc6019)], or both attributes.  Other signed attributes
   MUST NOT be included.

   The signedAttrs element MUST include only a single instance of any
   particular attribute.  Additionally, even though the syntax allows
   for a SET OF AttributeValue, in an RPKI signed object, the attrValues
   MUST consist of only a single AttributeValue.
```

[RFC6019 section 4, Security considerations](https://www.rfc-editor.org/rfc/rfc6019#section-4)
```
Security Considerations

   Use of the binary-signing-time attribute does not necessarily provide
   confidence in the time when the signature value was produced.
   Therefore, acceptance of a purported signing time is a matter of a
   recipient's discretion.  [RFC 3161](https://www.rfc-editor.org/rfc/rfc3161) [[TSP](https://www.rfc-editor.org/rfc/rfc6019#ref-TSP)] specifies a protocol for
   obtaining time stamps from a trusted entity.

   The original signing-time attribute defined in [[CMS](https://www.rfc-editor.org/rfc/rfc6019#ref-CMS)] has the same
   semantics as the binary-signing-time attribute specified in this
   document.  Therefore, only one of these attributes SHOULD be present
   in the signedAttrs of a SignerInfo object or in the authAttrs of an
   AuthenticatedData object.  However, if both of these attributes are
   present, they MUST provide the same date and time.
```

Apologies for the late response. Only got around to looking at this now.

My reading of that MUST is that it applies in the context of creating objects only and isn’t meant as “objects with differing times MUST be rejected.” But, obviously, there’s ample room for interpretation here.

I am tempted to add it this check in strict mode only as I always felt that in normal mode, only things that are obviously broken or ambiguous should be rejected.

Given the discussion where someone proposed _disallowing_ binary signing time, let's not invest time on this. You will mostly encounter this in the set of conformance testing files.